<form formGroup="profileForm" (ngSubmit)="onSubmit()" class="name-form">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">

  <!-- The below button will not be enabled until the profileForm becomes valid. This can be done by the updateProfile() method called at the bottom. -->
  <button type="submit" (click)="onSubmit()" [disabled]="!profileForm.valid">Update</button>

  <div formGroupName="address" class="address-form">
    <h3>Address</h3>

    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street">

    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city">
    
    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state">

    <label for="zip">ZIP Code: </label>
    <input id="zip" type="text" formControlName="zip">
  </div>

  <p>Complete the form to enter the button</p>
</form>

<button type="button" (click)="updateProfile()">Submit</button>

<p>Full Name: {{profileForm.value.firstName}} {{profileForm.value.address?.street}}</p>
<p>{{profileForm.status}}</p>